<div class="pure-menu pure-menu-horizontal">
  {{link-to 'Filter examples' 'application' class="pure-menu-heading pure-menu-link"}}
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      {{link-to 'Filter array' 'filtered-array' class="pure-menu-link"}}
    </li>
    <li class="pure-menu-item">
      <a href="#" class="pure-menu-link">Sports</a>
    </li>
    <li class="pure-menu-item">
      <a href="#" class="pure-menu-link">Finance</a>
    </li>
  </ul>
</div>

<h2 id="title">Welcome to Ember</h2>

{{outlet}}
